@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  height: 100%;
  color: rgb(var(--foreground-rgb));
  @apply bg-zinc-100
}

.theme-grey-color{
  background-color: #5d686e !important;
}

.theme-grey-title-color{
  background-color: #6e7a81 !important;
}

.theme-bg-color{
  background-color: #d23b38 !important;
}

.theme-text-color{
  color: #d23b38 !important;
}

header{
  background-color: #d23b38 !important;
}


#search input{
  background-color: #6e7a81 !important;
  border: none !important;
}

#search label{
  color:white;
}